</div>
<!-- Footer start -->
<footer>
    <section class="footerTop">
        <div class="container">
            <div class="row">
                <div class="cmn-ft-info col-md-3 col-sm-6 col-xs-12">
                    <h2>Contact Information</h2>
                    {{ page.contact_information }}
                    {#<p>BYU-Hawaii Box #1960
                        <br> 55-220 Kulanui Street Building 5</p>
                    <p>Laie, Hawaii 96762</p>
                    <p>Lorenzo Snow Administration</p>
                    <p>Building, Room 209</p>#}
                </div>
                <div class="cmn-ft-info col-md-3 col-sm-6 col-xs-12">
                    <h2>Office Hours</h2>
                    {{ page.office_hours }}
                    {#<p>8:00am - 5:00pm
                        <br> Monday to Friday</p>
                    <p><em>Closed:</em>
                        <br> Tuesday Devotionals and
                        <br> Campus Holidays</p>#}
                </div>
                <div class="cmn-ft-info col-md-3 col-sm-6 col-xs-12">
                    <h2>Quick Links</h2>
                    {{ page.quick_links }}
                    {#<ul class="rs-linkT">
                        <li><a href="#">Course Listing</a></li>
                        <li><a href="#">Degree Programs</a></li>
                        <li><a href="#">Faculty</a></li>
                        <li><a href="#">Major Requirements</a></li>
                        <li><a href="#">DreamSpark</a></li>
                        <li><a href="#">Sap Terp10</a></li>
                        <li><a href="#">class Tutoring</a></li>
                        <li><a href="#">Syllabi</a></li>
                    </ul>#}
                </div>
                <div class="cmn-ft-info col-md-3 col-sm-6 col-xs-12">
                    <h2>Contact With Us</h2>
                    {{ page.contact_with_us }}
                    {#<ul class="rs-linkT">
                        <li><a href="#">Help Ticket</a></li>
                        <li><a href="#">Knowledge Base</a></li>
                        <li><a href="#">Phishing Tutorial</a></li>
                    </ul>#}
                    <!--<p><a href="#">Send a YMessage</a></p>
                    <div class="ft-social">
                       <a href="#" target="_blank" title="Follow us on Facebook" aria-label="Follow us on Facebook"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                        <a href="#" target="_blank" title="Follow us on Instagram" aria-label="Follow us on Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        <a href="#" target="_blank" title="Follow us on Youtube" aria-label="Follow us on Youtube"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                    </div>-->
                </div>
            </div>
        </div>
    </section>
    <section class="footerBtm">
        <div class="container">
            <div class="ft-info">
                {{ page.footer }}
                {#<a class="f-logo" href="#">Brigham Young University Hawaii</a>
                <p>© 2017 All Rights Reserved | Laie, HI 96762, USA | (808) 675-3211</p>#}
            </div>
        </div>
    </section>
</footer>
<!-- Footer end -->

{#<script type="text/javascript">
    setTimeout(function () {
        jQuery(function () {
            //	Fluid layout example 1, resizing the items
            $('#foo4').carouFredSel({
                responsive: true,
                width: '100%',
                scroll: 1,
                auto: false,
                prev: '#prev4',
                next: '#next4',
                items: {
                    width: 264,
                    //	optionally resize item-height
                    visible: {
                        min: 2,
                        max: 4
                    }
                }
            });

        });
    }, 5000);
</script>#}