<li class="extra-item">
<div class="item-container">
<div class="item-image fcty-img">
 {{ fields.field_faculty_image.content }}
</div>
<div class="item-content fcty-cont">
    <h5>{{ fields.title.content }}</h5>
    {% if fields.field_faculty_designation2.content %}
    <p class="desc">{{ fields.field_faculty_designation.content }}/{{ fields.field_faculty_designation2.content }}</p>
    {% else %}
    <p class="desc">{{ fields.field_faculty_designation.content }}</p>
    {% endif %}
    {% if fields.field_faculty_office_address.content %}
    <p class="desc">Office: {{ fields.field_faculty_office_address.content }}</p>
    {% endif %}
    {% if fields.field_faculty_phone.content %}
    <p class="desc">Phone: {{ fields.field_faculty_phone.content }}</p>
    {% endif %}
    {# {% if fields.field_faculty_fax.content %}
    <p class="desc">Fax: {{ fields.field_faculty_fax.content }}</p>  
    {% endif %} #}
    <p class="desc">{{ fields.field_faculty_email.content }}</p>
    <p class="desc">{{ fields.field_faculty_profile_url.content }}</p>	
 </div>
</div>
</li>
